.fa-bars{
  color: #471E67;
}

.MuiDrawer-paper{
  background-color: #471E67!important;
}

.menu-link-primario{
  font-family: 'Roboto', sans-serif!important;
  font-weight: 500!important;
  color: #fff!important;
  font-size: 0.95rem!important;
  text-decoration: none;
}