.instagram-page-wrapper{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding:30px;
  height:100%;
}


.instagram-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.625rem;
  color: #471E67;
  margin-bottom:32px;
}

.insta-image{
  width:80%;
  margin-right:16px;
}

.instagram-images{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 481px) {

  .instagram-images{
    display: flex;
    flex-flow: row nowrap!important;
    align-items: center;
    justify-content: center;
  }

  .insta-image{
    width:90%;
    margin:8px;
  }

  .instagram-title{
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;

  }

}