.atendimento-individual-container{
  display: flex;
  flex-flow: column wrap;
  width:100%;
  background-color: #F0EFEF;
}


.atendimento-individual-conteudo{
  display: flex;
  flex-flow: column wrap;
}


.titulo-primario{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 2rem;
  text-align: center;
  color: #471E67;
  margin-bottom:50px;
}




.atendimento-informacoes-container{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.atendimento-informacoes-content{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.titulo-secundario{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 2rem;
  text-align: center;
  color: #CA4B49;
  width:30%;
  margin-top:3.125rem;
  margin-bottom:3.125rem;
}

.atendimento-cartoes{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.atendimento-timeline-container{
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap!important;
  align-items: center;
  justify-content: center;
  padding:50px;
}

.atendimento-sessoes-container{
  background-color: #FFFFFF;
  padding:50px 20px 50px 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.atendimento-sessoes{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.texto-primario{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #404040;
}


.contato-atendimento{
  background-color: #FFF8F9;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding:50px;
}

.contato-conteudo{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top:32px;
}

.formulario-contato{
  background: #FFFFFF;
  border: 1px solid #471E67;
  box-sizing: border-box;
  border-radius: 5px;
  height:48px;
  width:80%;
  text-indent: 16px;
  font-family: Roboto;
  font-size: 1rem;
  margin-bottom: 16px;
  line-height: 1.875rem;
}

.formulario-contato-texto{
  background: #FFFFFF;
  border: 1px solid #471E67;
  box-sizing: border-box;
  border-radius: 5px;
  height:100px;
  width:80%;
  text-indent: 16px;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.875rem;
  margin-bottom: 16px;
}

.formulario-botao{
  background: #471E67;
  border-radius: 50px;
  border: none;
  height:48px;
  width:30%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff;

}



@media all and (max-width: 480px) {

  .atendimento-informacoes-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .atendimento-informacoes-content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
  }


  .atendimento-header-texto{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }

  .header-titulo-primario{
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .header-subtitulo-primario{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;

  }

  .titulo-secundario{
    font-size: 1.5rem;
    line-height: 2rem;
    width:100%;

  }

  .contato-atendimento{
    padding:16px;
    display:flex;
    flex-flow: row wrap;
  }

  .contato-conteudo{
    margin-top:16px;
  }

  .formulario-contato{
    width:20rem;
  }

  .formulario-contato-texto{
    width:20rem;
  }

  .faq-wrapper{
    padding:32px;
  }
}



@media all and (min-width: 481px) and (max-width: 768px) {
  .contato-atendimento{
    padding:16px;
    display:flex;
    flex-flow: row wrap;
  }

  .atendimento-informacoes-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .info-card{
    height: 90vh;

  }

  .atendimento-informacoes-content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }



}