.sidenav---sidenav---_2tBP{
  background-color: #471E67!important;
  position: fixed;
}

.sidenav---navicon---3gCRo, .d-flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


.fa-home::before, .fa-home{
  color: #fff!important;
  opacity: 1!important;
}

.fa-caret-square-right::before, .fa-caret-square-right{
  color: #fff!important;
  opacity: 1!important;
}

.menu-link-primario{
  font-family: 'Roboto', sans-serif!important;
  font-weight: 500!important;
  color: #fff!important;
  font-size: 0.95rem!important;
  text-decoration: none;
}


.fa-copy::before, .fa-copy{
  color: #fff!important;
  opacity: 1!important;
}

.fa-file-alt::before, .fa-file-alt{
  color: #fff!important;
  opacity: 1!important;
}

.fa-hand-lizard::before, .fa-hand-lizard{
  color: #fff!important;
  opacity: 1!important;
}

.fa-user-circle::before, .fa-user-circle{
  color: #fff!important;
  opacity: 1!important;
}