.checkout-cadastro-wrapper{
    display:flex;
    flex-flow: column wrap;
    height:100%;

  }

  .checkout-label-column{
    display:flex;
    flex-flow: column wrap;
  }

  .checkout-row{
    display:flex;
    flex-flow: row wrap;
  }

  .checkout-label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #471E67;
  }

  .checkout-input{
    background: #FFFFFF;
    border: 1px solid #471E67;
    box-sizing: border-box;
    border-radius: 5px;
    height:45px;
    width:100%;
    margin-bottom:20px;
    text-indent:1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 0.95rem;
    color: #9E9E9E;
    @media all and (max-width: 480px) {width:65vw; }
  }

  .button-primary{
    background-color: #471E67;
    border-radius: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding:12px 30px 12px 30px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
  }