.checkout-cadastro-wrapper{
    display:flex;
    flex-flow: column wrap;
    padding:16px;

  }

  .checkout-label-column{
    display:flex;
    flex-flow: column wrap;
  }

  .checkout-row{
    display:flex;
    flex-flow: row wrap;
  }

  .checkout-label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #471E67;
  }

  .checkout-input{
    background: #FFFFFF;
    border: 1px solid #471E67;
    box-sizing: border-box;
    border-radius: 5px;
    height:45px;
    width:25vw;
    margin-bottom:20px;
    text-indent:1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 0.95rem;
    color: #9E9E9E;

  }