@import "../../../variables";

.info-atendimento-individual{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top:-50px;
  @media all and (min-width: 1024px) and (max-width: 1280px) {margin-top:-100px; }
}

.info-curso-content{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.image-card-wrapper{
  background-image: url("../../../Assets/Curso/group98.svg");
  position: relative;
  background-repeat: no-repeat;
  top:70%;
  display: flex;
  flex-flow: column wrap;
  z-index:4;
  right:7%;
}

.titulo-secundario{
  @include text-primary;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 135%;
  text-align: center;
  color: #{$red};
  width:30%;
  margin-bottom: 70px;
  margin-top: 30px;

  @media all and (min-width: 1024px) and (max-width: 1280px) {width:35%;  font-size: 1.438rem; }
}



.card-image-1{
  background-image: url("../../../Assets/Curso/infoImage1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height:45vh;
}

.card-image-2{
  background-image: url("../../../Assets/Curso/infoImage2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height:45vh;
}

.card-image-3{
  background-image: url("../../../Assets/Curso/infoImage3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height:45vh;
}

.info-card{
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom:50px!important;
  @media all and (min-width: 1024px) and (max-width: 1280px) {min-width:31%; height:95vh;}
}

.info-card-title{
  @include text-primary;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #404040;
  padding:16px 27px 0 27px;
  @media all and (min-width: 1024px) and (max-width: 1280px) {  font-size: 0.875rem; padding:16px 20px 10px 20px;}
}

.info-card-text{
  @include text-primary;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #404040;
  padding:16px 27px 0 27px;
  @media all and (min-width: 1024px) and (max-width: 1280px) {  font-size: 0.875rem; padding:16px 20px 10px 20px;}
}

.ribbon3 {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
  height: 60px;
  padding-left: 15px;
  position: relative;
  left: -8px;
  top: 70%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ribbon3:before, .ribbon3:after {
  content: "";
  position: relative;
}

.ribbon3:before {
  height: 0;
  width: 0;
  top: -31%;
  left: -15px;
  border-bottom: 9px solid #404040;
  border-left: 9px solid transparent;
  @media all and (min-width: 1024px) and (max-width: 1280px) { top: -26%;}
}

.ribbon-title{
  @include text-primary;
  font-weight: bold;
  font-size: 0.95rem;
  line-height: 1rem;
  color: #471E67;
  @media all and (min-width: 1024px) and (max-width: 1280px) {  font-size: 0.875rem;  line-height: 1.2rem;}
}

.ribbon-subtitle{
  @include text-primary;
  font-weight: normal;
  font-size: 0.95rem;
  line-height: 1rem;
  color: #404040;
  @media all and (min-width: 1024px) and (max-width: 1280px) {  font-size: 0.875rem;  line-height: 1.2rem;}
}
