.checkout-page-wrapper{
  display:flex;
  flex-flow: column wrap;
}

.checkout-content-wrapper{
  background-image: url("../../Assets/Checkout/checkoutBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height:80vh!important;
  width:100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding:50px;
}