.metodologia-wrapper{
  background-color:#FFF8F9;;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding:50px 0 50px 0;
}


.metodologia-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #404040;
  margin-bottom:32px;

}
