@import "src/variables.scss";

.info-page-wrapper{
  height:100%;
  margin-top:60px;
}

.info-page-color{
  background-color:#FFF8F9;
  margin-top:-200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.info-content{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom:50px;
}

.info-text-wrapper{
  display:flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}

.info-image-wrapper{
  display:flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: center;
}

.wave-container{
  height:100%;
  width:100%;
}

.wave-path{
  fill: #FFF8F9;
  margin:0;
}

.info-image{
  width:85%;
}

.info-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #471E67;
  margin-bottom:32px;

}

.info-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #404040;
  text-align: start;
  margin-bottom:1.25rem;
}

.info-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding:10px 15px 10px 15px;
  border-radius:50px;
  background-color: #471E67;
  color: #FFFFFF;

}

@media (min-width: 320px) and (max-width: 480px) {
  .info-image{
    width:95%;
    margin-bottom:32px;
  }

  .info-page-wrapper{
    height:100%;
    margin-top:20px;

  }

  .info-page-color{
    margin-top:-30px;
  }

  .info-image-wrapper{
    align-items: center;
  }

  .info-text{
    font-size: 1.25rem;
    text-align: center;
  }

  .info-content{
    padding:32px;
  }

}

@media all and (min-width: 481px) and (max-width: 768px) {

  .info-image{
    width:75%;
    margin-bottom:32px;
  }

  .info-page-wrapper{
    height:100%;
    margin-top:20px;

  }

  .info-page-color{
    margin-top:-30px;
  }

  .info-image-wrapper{
    align-items: center;
  }

  .info-text{
    font-size: 1.25rem;
    text-align: center;
  }

  .info-content{
    padding:32px;
  }

}