
@import "src/variables.scss";

.newsletter-page-wrapper{
  background-color: #F0EFEF;
  height:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding:30px 0 30px 0;
}

.newsletter-content{
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.newsletter-text{
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #471E67;
  text-align: start!important;
}

.newsletter-image-content{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}

.newsletter-input{
  background: #FFFFFF;
  border: 1px solid #471E67;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  height:48px;
  width:80%;
  text-indent: 16px;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.875rem;
}

.newsletter-input-2{
  background: #FFFFFF;
  border: 1px solid #471E67;
  box-sizing: border-box;
  border-radius: 10px;
  height:48px;
  width:80%;
  text-indent: 16px;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.875rem;
}

.newsletter-button{
  background: #471E67;
  border-radius: 0 10px 10px 0;
  border: none;
  height:48px;
  width:10%;
}

form{
  margin-top: 40px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

}

.form-row{
  margin-top: 16px!important;
  display:flex;
  flex-flow: row wrap;
  width:90%;
  margin-left:40px!important;
}

@media (min-width: 320px) and (max-width: 480px) {

  .newsletter-input{
    width:80%;
  }

  .newsletter-image-content{
    align-items: center;
    justify-content: center;
  }

  .newsletter-text{
    text-align: center!important;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .newsletter-content{
    padding:32px;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {

  .newsletter-input{
    width:80%;
  }

  .newsletter-image-content{
    align-items: center;
    justify-content: center;
  }

  .newsletter-text{
    text-align: center!important;
  }

  .newsletter-content{
    padding:32px;
  }

}