.pagamento-wrapper{
  @media all and (max-width: 480px) {padding:0; }
}


.checkout-label-column{
  display:flex;
  flex-flow: column wrap;
}

.checkout-row{
  display:flex!important;
  flex-flow: row wrap!important;
}

.checkout-input-row{
  background: #FFFFFF;
  border: 1px solid #471E67;
  box-sizing: border-box;
  border-radius: 5px;
  height:45px;
  width:12vw;
  margin-bottom:20px;
  text-indent:1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 0.95rem;
  color: #9E9E9E;
  @media all and (max-width: 480px) {width:65vw; }
}