@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

//CORES

$white: #fff;
$purple: #471E67;
$red: #CA4B49;

@mixin text-primary{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}