.presentation-page-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height:100%;
  margin-top: -110px;
}

.presentation-page-color{
  background-color: #FFF8F9;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height:100%;
  margin-top: -180px;
}

.wave-path-presentation{
  fill: #FFF8F9;
}

.wave-container-bottom{
  height:100%;
  width:100%;
  margin-top: -5px;
}

.presentation-content{
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top:50px;
  margin-bottom:40px;
}


.presentation-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #471E67;
}

.presentation-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height:1.75rem;
  color: #404040;
  text-align: start;
}

.presentation-image{
  width:75%;
}

@media (min-width: 1300px) {

  .presentation-page-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height:100%;
    margin-top: -110px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .presentation-page-wrapper{
    margin-top: -50px;
  }

  .presentation-text{
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .presentation-title{
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: #471E67;
  }

  .presentation-image{
    width:70%;
  }

  .presentation-page-color{
    margin-top: -20px;
  }

  .presentation-text-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding:32px;
  }

  .presentation-image-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

}

@media all and (min-width: 481px) and (max-width: 768px) {

  .presentation-page-wrapper{
    margin-top: -100px;
  }

  .presentation-page-color{
    margin-top: -30px;
  }

  .presentation-image{
    width:55%;
  }

  .presentation-image-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .presentation-text-wrapper{
    align-items: center;
    justify-content: center;
    padding:32px;
  }
}






@media (min-width: 1441px) {

  .presentation-page-wrapper{
    margin-top: -150px;
  }
}