.curso-header-wrapper{
  background-image: url("../../../Assets/Curso/headerTriangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height:140vh!important;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.curso-header-text{
  display: flex;
  flex-flow: column wrap;
}
.curso-header-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 5.25rem;
  color: #FFFFFF;
}

.curso-header-subtitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 2.188rem;
  color: #FFFFFF;
  width:70%;
}

.curso-header-img{
  width:70%;
}

@media all and (max-width: 480px) {

  .curso-header-wrapper{
    min-height:90vh!important;
    display: flex;
  }
.curso-header-text{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

  .curso-header-title{
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 32px;
  }
  .curso-header-subtitle{
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center!important;
    margin-bottom: 50px;
  }

  .curso-header-image{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

}

@media all and (min-width: 482px) {

  .curso-header-wrapper{
    padding-left:100px;
  }

}

